body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.connexion-form {
    min-height: 50%;
    width: 70%;
}

.welcome-text {
    font-weight: bold;
    color: black;
    margin-bottom: 1rem;
}

.small-text {
    font-size: small;
}

.bold-text {
    font-weight: bold;
}

.white-text {
    color: white;
}

.green-text {
    color: #438a49;
}

.gray-text {
    color: #7f8c8d;
}

.main-button {
    background-color: #438a49;
    color: white;
    border-radius: 3rem;
    padding-inline: 4rem;
}

.form-label {
    font-weight: bold;
}

.green-rounded-btn {
    background-color: #438a49;
    border-radius: 3rem;
    padding-inline: 4rem;
}

.light-green-rounded-btn {
    background-color: #c8df8c;
    border-radius: 3rem;
    padding-inline: 4rem;
}

.green-rounded-outline-btn {
    background-color: transparent;
    border: 2px solid #438a49;
    color: #438a49;
    border-radius: 3rem;
    margin-top: 4rem;
    margin-right: 4rem;
    padding-inline: 4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.green-rounded-outline-btn:hover {
    background-color: #438a49;
    color: white;
}

.checkbox-box {
    margin-top: 2rem;
}

.identifiant-container {
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.password-container {
    margin-bottom: 3rem;
}

.space-between {
    justify-content: space-between;
}

.display-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.height-8 {
    height: 8vh;
}

.margin-right-1 {
    margin-right: 1rem;
}

.margin-left-1 {
    margin-left: 1rem;
}

.logo {
    width: 40rem;
    height: 40rem;
}

.index-panels {
    min-height: 100vh;
}

.index-left-panel {
    background-color: #438a49;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.index-right-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2em;
}

.side-panel {
    background-color: #438a49;
    width: 18vw;
    min-height: 93.8vh;
    padding-top: 3rem;
}

.infos-panel {
    width: 80vw;
    padding-bottom: 2rem;
}

.medical-panels {}

.buttons-container {
    margin: 2rem 5rem 2rem 0
}

.side-nav-item {
    display: flex;
    align-items: center;
    margin: 0 1.5rem .5rem 1.5rem;
    padding: 1rem;
    border: solid;
    border-radius: 10px;
    color: #438a49;
    background-color: #c8df8c;
}

.person-details {
    margin-inline-end: 5rem;
    display: flex;
}

.medical-details {
    width: 25vw;
    height: fit-content;
    margin-inline-end: 3rem;
}

.person-infos {
    width: 100%
}

.img-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.body-box {
    padding: 1rem;
    margin: 1rem;
}

.body-box-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: #bdc3c7 0px 0px 10px;
}

.icon-box-item {
    display: flex;
    margin-inline-end: 1rem;
    padding: .8rem;
    border: solid 1px #c8df8c;
    color: #438a49;
    background-color: #c8df8c;
    border-radius: 7px;
}

.person-form-box {}

.person-left-form {}

.person-right-form {}

.address-right-form {}

.select-input {
    width: 100%;
    padding: 1.2rem 1.5rem;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
}

.select-input:focus {
    outline: none;
    border: 2px solid var(--color-main);
}

.selects-box {
    display: flex;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #438a49;
}

input:focus+.slider {
    box-shadow: 0 0 1px #438a49;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.search-input {
    border: 0;
}

.search-input:focus {
    outline: none;
}

.search-box {
    display: flex;
    border: solid 1px #bdc3c7;
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
}

.search-box:focus-within {
    border-color: var(--color-main);
}

.profile-box {
    display: flex;
    align-items: center;
}

.user-box {
    padding: .5rem 1rem .5rem 1rem;
    border: solid 1px;
    border-radius: 15px;
    background-color: #438a49;
    color: white;
}

.notif-box {
    margin-inline: 2em;
    display: flex;
    align-items: end;
}

.dots-box {
    display: flex;
    padding: .8rem;
    border: solid 1px #c8df8c;
    color: #438a49;
    background-color: #c8df8c;
    border-radius: 7px;
    align-self: end;
}

.list-panel {
    width: 80vw;
    padding-bottom: 2rem;
}

.list-box {
    margin-inline-end: 5rem;
}

.delete-box {
    display: flex;
    padding: .8rem;
    border: solid 1px #c8df8c;
    color: #438a49;
    background-color: #c8df8c;
    border-radius: 7px;
}

.new-add-box {
    display: flex;
    align-items: center;
    margin-inline-end: 1em;
}

.add-del-box {
    display: flex;
    align-items: center;
    justify-content: end;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: small;
}

thead {
    border-bottom: #ecf0f1 solid 2px;
}

th,
td {
    text-align: left;
    padding: 8px 10px;
}

.select-input-sm {
    border-radius: 0.5rem;
    border: 2px solid var(--color-light);
    transition: all 0.3s ease-in-out;
    background-color: var(--color-bg);
}

.select-input-sm:focus {
    outline: none;
    border: 2px solid var(--color-main);
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: #438a49;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination-box {
    margin-top: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-box {
    position: relative;
    font-size: small;
}

#calendar {}

#calendar-container {
    position: absolute;
    /* Positionne la div par rapport à .calendar-box */
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: white;
    border-collapse: collapse;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    margin-left: -1.5rem;
}

.calendar-button {
    padding: .5rem 1rem;
    margin-right: 1rem;
    border: 2px solid var(--color-light);
    border-radius: 5px;
}

#calendar th,
#calendar td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#calendar td {
    cursor: pointer;
}

#calendar td:hover {
    background-color: #f0f0f0;
}

#calendar td.selected {
    background-color: #438a49;
    color: white;
}

.arrow-left,
.arrow-right {
    display: flex;
    align-items: center;
    border: 2px solid var(--color-light);
    margin: 0 1rem;
    padding: 5px;
    border-radius: 4px;
}

#yearSelect {
    margin-left: 1rem;
    border: 2px solid var(--color-light);
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}